<div class="container">
  <div class="row" *ngIf="job$ | async; let job">
    <div class="col-12 mt-3">
      <h1>{{job.job_title}}</h1>
    </div>
    <div class="col-12">
      <strong>Job Number :</strong> {{job.job_number}}
    </div>
    <div class="col-12">
      <strong>Start Date : </strong> {{job.job_start_date}}
    </div>
    <div class="col-12">
      <strong>Close Date :</strong> {{job.job_close_date}}
    </div>
    <div class="col-12">
      <strong>Experience Required : </strong>{{ job.experience_required ? 'Yes':'No'}}
    </div>
    <div class="col-12">
      <strong>Number of Openings : </strong>{{job.number_of_openings}}
    </div>
    <div class="col-12">
      <strong>Job Notes : </strong>{{job.job_notes}}
    </div>
  </div>
</div>